{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage__accountName": "azurefn-agents",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "FUNCTIONS_EXTENSION_VERSION": "~4",
    "WEBSITE_TIME_ZONE": "UTC",
    "DATA_STORAGE_ACCOUNT_NAME": "<your-host-storage-account-name>",
    "ROSTER_STORAGE_ACCOUNT_NAME": "<your-roster-storage-account-name>",
    "ROSTER_CONTAINER_NAME": "<your-roster-container-name>",
    "TRAPI_ENDPOINT": "<your-trapi-endpoint>",
    "TRAPI_DEPLOYMENT_NAME": "<your-trapi-deployment-name>",
    "TRAPI_API_VERSION": "<your-trapi-api-version>",
    "TRAPI_AUTH_SCOPE": "<your-trapi-auth-scope>",
    "APPLICATIONINSIGHTS_CONNECTION_STRING": "InstrumentationKey=azure_agents_key;IngestionEndpoint=https://azure_agents.in.applicationinsights.azure.com/"
  }
}
